<tr>
  <td><%= header_link %></td>
  <td><%= model.amount %></td>
  <td><%= model.effective_amount %></td>
  <td><%= receipt_link %></td>
  <td><%= invoice_date %></td>
  <td><%= model.notes %></td>
  <td>
    <% if has_receipt? %>
      <input type="checkbox" name="expenses[]" value="<%= model.id %>" class="claim_btn" data-on-text="Claim!" data-off-text="🔓" data-on-color="warning" unchecked>
    <% end %>
  </td>
</tr>
