<tr>
  <td><%= index %></td>
  <td><%= description %></td>
  <td><%= invoice_number %></td>
  <td></td>
  <td><%= amount %></td>
  <td><%= qty %></td>
  <td></td>
  <td><%= total %></td>
  <td></td>
</tr>
